table.dataTable tbody th,
table.dataTable tbody td  {
  padding: 8px 36px !important;
}
.subject{
    width:200px !important;
}
.dd-list{
    width: 138px;
}
.date{
     width: 100px;
    
}
.status{
    width:100px;
}
select.select1{
    height: 37px;
    width: 103px;
    border: 1px solid #0aa89e;
    background-color: #0aa89e;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    margin-left: 20px;
}
.submit{
    border: 2px solid #06968c;
    background-color: #08b2a7;
    font-size: 20px;
    color: #fff;
    border-radius:2px;
}
.submit:hover{
    background-color:#09c1b5;
}